/*

Fonts for use

font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/
html {
    font-size:62.5%;
}

/* Typography */
body {
    font-family: 'Montserrat', sans-serif;
}
h1.product-title {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
}
span.category {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #6C7289;
    letter-spacing: .5rem;
}
p.description {
    font-size: 1.5rem;
    color: #6C7289;
    line-height: 2.5rem;
    margin: 0;
}
span.current-price {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 3.2rem;
    color: #3D8168;
}
span.retail-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-decoration: line-through;
    color: #6C7289;
}
a.add-to-cart {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    transition: all .2s ease-in-out;
}
a.add-to-cart:hover {
    background: #1A4032;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Block Colors */
body {
    background-color: #F2EAE2;
}
.container {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.add-to-cart {
    background-color:#3D8168;
}

/* Button Formatting */
.add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .8em;
    height: 5rem;
    gap: 1em;
}

/* Layout */
body {
    margin: 10rem 0;
}
.container {
    border-radius: 2em;
    display: flex;
    flex-direction: column; 
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 5rem !important; 
}
img.product-landscape {
    border-radius: 2rem 2rem 0 0 ;
    width: 100%;   
}
.product-info {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.price {
    display: flex;
    align-items: center;
    gap: 2rem;
}
img.product-portrait {
    display: none;
}

@media screen and (min-width: ) {
    
}